input {
    border-bottom: 1px solid $green !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    background-color: $light-white;
    height: 50px;

//    height: 20px;
//    width: 20px;
//    appearance: none;
//    border: 1px solid #D5DDE5;
//    border-radius: 4px;
//    outline: none;
//    transition-duration: 0.3s;
//    background-color: transparent;
//    cursor: pointer;
//    --tw-ring-color: transparent !important;
}

.form-floating {
    input:focus {
        box-shadow: none !important;
    }
    label {
        font-family: $font-family-base-avenir;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        height: 20px;
        min-height: unset;
        text-align: left;
        color: $green!important;
    }
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    appearance: none;
    border: 1px solid #D5DDE5;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: transparent;
    cursor: pointer;
    --tw-ring-color: transparent !important;
}

input[type=checkbox]:active {
    border: 2px solid #C90D32 !important;
}

input[type=checkbox][disabled] {
    border: 1px solid #D5DDE5 !important;
}

input[type=checkbox]:hover {
    border: 1px solid #AFBECC;
}

input[type=checkbox]:checked, input[type=checkbox]:checked:focus {
    border: 1px solid #C90D32 !important;
    background-color: #C90D32 !important;
    --tw-ring-color: transparent !important;
    outline: none !important;
    outline-offset: 0 !important;
}

input[type=checkbox]:hover:checked, {
    border: 1px solid #A70B2A !important;
    background-color: #A70B2A !important;
}

input[type=checkbox][disabled]:checked, {
    border: 1px solid #F8A0B1 !important;
    background-color: #F8A0B1 !important;
}

input[type="checkbox"] + label {
    font-size: 14px;
    color: #404B59;
    font-weight: 500;
}
