@font-face {
    font-family: 'Caravan';
    src: local('Caravan Regular'), local('Caravan-Regular'),
    url('/fonts/Caravan/Caravan.woff2') format('woff2'),
    url('/fonts/Caravan/Caravan.woff') format('woff'),
    url('/fonts/Caravan/Caravan.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
