@font-face {
    font-family: 'Cormorant Garamond Light';
    src: local('Cormorant Garamond Light'), local('CormorantGaramond-Light'), url('/fonts/CormorantGaramond/Cormorantgaramondlight.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramondlight.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramondlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond Light Italic'), local('CormorantGaramond-LightItalic'), url('/fonts/CormorantGaramond/Cormorantgaramondlightitalic.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramondlightitalic.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramondlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond'), local('CormorantGaramond-Regular'), url('/fonts/CormorantGaramond/Cormorantgaramond.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramond.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramond.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond Italic'), local('CormorantGaramond-Italic'), url('/fonts/CormorantGaramond/Cormorantgaramonditalic.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramonditalic.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramonditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond Book'), local('CormorantGaramond-Book'), url('/fonts/CormorantGaramond/Cormorantgaramondbook.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramondbook.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramondbook.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond Book Italic'), local('CormorantGaramond-BookItalic'), url('/fonts/CormorantGaramond/Cormorantgaramondbookitalic.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramondbookitalic.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramondbookitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond Semibold'), local('CormorantGaramond-Semibold'), url('/fonts/CormorantGaramond/Cormorantgaramondsemibold.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramondsemibold.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramondsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond Semibold Italic'), local('CormorantGaramond-SemiboldItalic'), url('/fonts/CormorantGaramond/Cormorantgaramondsemibolditalic.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramondsemibolditalic.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramondsemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'), url('/fonts/CormorantGaramond/Cormorantgaramondbold.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramondbold.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramondbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond Bold Italic'), local('CormorantGaramond-BoldItalic'), url('/fonts/CormorantGaramond/Cormorantgaramondbolditalic.woff2') format('woff2'), url('/fonts/CormorantGaramond/Cormorantgaramondbolditalic.woff') format('woff'), url('/fonts/CormorantGaramond/Cormorantgaramondbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
